* {
    width: 100%;
    height: 100%;
    margin: 0;
}

.main-image-section {
    background: URL("resources/sun-run.jpg") no-repeat fixed center;
    height: 75%;
    border-bottom: 1px solid  black;
}

.main-text {
    display: table;
    text-align: center;
}

.main-image-title {
    position: relative;
    bottom: 1em;

    vertical-align: middle;
    display: table-cell;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 2.5em;

    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.sub-title {
    line-height: 3em;
    font-size:0.8em;
    font-family: monospace, sans-serif;
}

.download-section {
    display: flex;
    flex-direction: row;
    height: 22.5%;
}

.container {
    width: 100%;
    margin-top: 3em;
}
.button {
    display: table;
    border: 1px solid #aaa;
    width: 20%;
    height: 50%;
    margin: 0 auto;

    background-color: brown;
}

.button p {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-family: Courier;
    color: whitesmoke;

}

.button:hover {
    background-color: maroon;
    cursor: pointer;
}