<!-- Django specific Code for CSS and Other Resources -->
{% load static from staticfiles %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'application/stylesheets/homepage/video-style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'application/stylesheets/homepage/about-me.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'application/stylesheets/homepage/follow-progress.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'application/resources/libraries/bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title> Human Activity Recognition PPG Software </title>
    </head>

    <body>
        
        <!-- Overlay -->
        <div class="overlay"></div>

        <!-- Navigation menu -->
        <div class="nav-bar">
            <ul class="nav-table">
                <li class="nav-item nav-visible"> <a href="/"> Home </li> </a>
                <li class="nav-item nav-visible"> <a href="/research"> Research </li></a>
                <li class="nav-item nav-visible"> <a href="/blog"> Blog </li></a>
                <li class="nav-item nav-visible"> <a href="/discussion"> Discussion </li></a>
            </ul>
        </div>
        
        <!--  Video is muted & autoplays, placed after major DOM elements for performance & has an image fallback  -->
        <video autoplay loop id="video-background" muted plays-inline>
          <source src="{% static 'application/resources/assets/background-video.mp4' %}" type="video/mp4">
        </video>
            
        <!--  Content  -->
        <div class="video-text-content">
            
            <!-- Main Text -->
            <div class="main-text">                
                <h2> Human Activity Recognition using <span class="blue-text"> Photoplethysmographic </span> Signals </h2>
                <h5> Arduino Software based on Machine Learning </h5>
            </div>

            <!-- Download Link Button -->
            <div class="wrap">
                <button class="button"> Download </button>
            </div>
    
            <!-- Quote -->
            <div class="quote-container">
                <blockquote class="wp-block-quote"> 
                    <p> Wearable technology will tell us how well we are sleeping and whether
                        we need to exercise. Sensors in the street will help us avoid traffic jams
                        and find parking. Telemedicine applications will allow physicians
                        to treat patients who are hundreds of miles away. </p>
                    <cite> John T. Chambers </cite>
                </blockquote>
            </div>
        </div>

        <div class="about-container">
            <div class="sub-title">
                <p> Project Developer </p>
            </div>
            
            <div class="about-wrap">

                <div class="about-text about-box">
                    <p> <span style="font-weight: bold;"> Name: </span> Shane Creedon <br>
                        <span style="font-weight: bold;"> Age: </span> 22 <br>
                        <span style="font-weight: bold;"> Motivation: </span>  I have a keen interest in <a href="https://en.wikipedia.org/wiki/Activity_recognition"> Human Activity Recognition </a> and Data Science. <br>
                            I wanted to build a project as such to understand the more novel concepts of Machine Learning. <br>
                            This project is using the ever-so powerful classification algorithm of "Neural Networks", Specifically, 
                            "Convolutional Neural Networks" - More information on my research can be found <a href="#">here</a>. <br> <br>
                        <span style="font-weight: bold;"> Website: </span> <a href="https://www.skybreak.ml"> https://www.skybreak.ml </a>  <br>
                        <span style="font-weight: bold;"> LinkedIn: </span> <a href="https://ie.linkedin.com/in/shane-creedon-49a142128"> https://ie.linkedin.com/in/shane-creedon </a>

                    </p>
                </div>

                <div class="image-container">
                    <div class="about-image about-box"></div>
                </div>

            </div>
        </div>

        <div class="follow-progress">
            <div class="sub-title">
                <p> Follow my Progress! </p>
            </div>

            <div class="trello-container" >
                <a href="https://trello.com/b/0kTUBx6B/4th-year-project">
                    <img width=150 height=150 src="{% static 'application/resources/assets/images/trello.png' %}"/>
                </a>
            </div>

            <!-- Copyright -->
            <div class="footer">
                <div class="copyright">
                    <p> Copyright &copy; 2019 Shane Creedon, Computer Applications & Software Engineering, Fourth Year Project. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </body>
</html>
