# Add files names (and patterns) you want git to ignore here.

# Ignore java .class files.
*.class

# Ignore compiled C/C++ files.
*.o

# Ignore everything in the build directory.
build/

# Ignore dist directory.
dist/

# Ignore python virtual environments
venv/

# Ignore __pycache__/
__pycache__/

# Ignore .idea/ folders from IDEA products
.idea/

# Visual Studio Code
.vscode/

# Project Specific Ignores
Walk/
Run/
LowResistanceBike/
HighResistanceBike/

# Django ignore requirements
env
*.DS_Store
*.pyc