# Add files names (and patterns) you want git to ignore here.

# Ignore java .class files.
*.class

# Ignore compiled C/C++ files.
*.o

# Ignore everything in the build directory.
build/

# Ignore python virtual environments
venv/

# Ignore Dist/ folders
dist/

# Ignore __pycache__/
__pycache__/

# Ignore .idea/ folders from IDEA products
.idea/
