/* Import Fonts */
@font-face {
    font-family: "Raleway";
    src:url("../resources/fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: "IndieFlower";
    src:url("../resources/fonts/IndieFlower.ttf");
}

@font-face {
    font-family: "Rajdhani";
    src:url("../resources/fonts/Rajdhani-Medium.ttf");
}

/* General styling */
* {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Background video + background video elements below */
header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
  
header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
header .container {
    position: relative;
}
  
.text-container {
    z-index: 2;
    padding-top: 25vh;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
  
@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

.background-text {
    font-family: Arial, Helvetica, sans-serif;
}

/* Nav-Bar styling below */
.nav-bar {
    background: rgba(0, 0, 0, 0.40);
    position: absolute;
    height: 4em;
    z-index: 10;
}

.nav-table {
    position: absolute;
    list-style-type: none;
    text-align: right;
    top: 1.5em;

    margin: 0;
    z-index:1;
    width: 97.5%;
    text-decoration: none;
}

.nav-item {
    display: inline; 
}

.nav-item a {
    text-decoration: none;
    margin-right: 4em;
    color: white;
    font-family: "Raleway", "Arial";
    font-size: 0.9em;

    text-shadow: horizontal-offset vertical-offset blur color;
    text-shadow: 8px 8px 6px rgba(0, 0, 0, 0.3);
}

.nav-item a:hover {
    color: #2EE59D;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    text-decoration: none;
}

/* Button */
.btn {
    margin: 3em auto;
    position: relative;
    font-family: "Raleway", "Arial";
    z-index: 2;
}

.quote {
    font-size: 0.85em;
    padding: 1em;
}

/* Copyright Signature details below */
.copyright {
    padding-top: 17.5%;
    z-index: 15;
}