/* Import Fonts */
@font-face {
    font-family: "Raleway";
    src:url("../resources/fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: "IndieFlower";
    src:url("../resources/fonts/IndieFlower.ttf");
}

@font-face {
    font-family: "Rajdhani";
    src:url("../resources/fonts/Rajdhani-Medium.ttf");
}

/* General styling */

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    /* Incase video doesn't load, put background colour. */
    background: #333;
    background-attachment: fixed;
    background-size: cover;
}

/* Nav-Bar styling below */
.nav-bar {
    background: rgba(0, 0, 0, 0.40);
    height: 4em;
}

.nav-table {
    position: absolute;
    list-style-type: none;
    text-align: right;
    top: 1.5em;

    margin: 0;
    z-index: 1;
    width: 97.5%;
    text-decoration: none;
}

.nav-item {
    display: inline; 
}

.nav-item a {
    text-decoration: none;
    margin-right: 4em;
    color: white;
    font-family: "Raleway", "Arial";
    font-size: 0.9em;

    text-shadow: horizontal-offset vertical-offset blur color;
    text-shadow: 8px 8px 6px rgba(0, 0, 0, 0.3);
}

.nav-item a:hover {
    color: #2EE59D;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    text-decoration: none;
}

/* Background video + background video elements below */
#video-background {
    height: 50vh;
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.75;
    z-index: 1;
}

.content {
    position: relative;
    text-align: center;
    color: #f1f1f1;
    width: 100%;
    padding: 5em 1em;
    z-index: 2;
}

.main-text h2, .main-text h4 {
    line-height: 2em;
    font-size: 2em;
}

/* Block Quote */
.quote {
    width: 50%;
    text-align: justify;
}


/* Copyright Signature details below */
.copyright {
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
    color: #f1f1f1;
    z-index: 2;

    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 1px 5px rgba(12, 0, 0, 0.5);
}

/* Footer */
.footer {
    display: table;
    width: 100%;
}