@font-face {
    font-family: "Raleway";
    src:url("../../resources/fonts/Raleway-Regular.ttf");
}

.about-container {
    width: 100%;
    background-color: white;
    position: relative;
    z-index:2;

    padding: 0 5% 0em 5%;
    margin: auto;
    text-align: center;
}

.about-wrap {
    min-width: 90%;
    position: relative;
    display: inline-block;
    text-align: center;

}

.sub-title {
    text-align: center;
    font-family: "Raleway", "Arial", 'Courier New', Courier, monospace;
    font-size: 1.4em;
    padding: 2em 1.5em 0em 1.5em;
    font-weight: bold;
}

.about-box {
    display: inline-block;
    vertical-align: middle;
    padding: 1em 5em 0em 0em;
}

.about-text {
    text-align: justify;
    font-size: 0.8em;
    width: 50em;
}

.image-container {
    display: inline-block;
    padding-right: 3em;
}

.about-image {
    background-image: url("../../resources/assets/Images/shane_creedon_casual.png");
    width: 180px;
    height: 180px;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 3px solid #eee;

    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}

 /* Media Query Start */

/* For large tablet design */
@media only screen and (max-width: 1300px) {

    .about-image {
        width: 135px;
        height: 135px;
        border: 3px solid #eee;
    }

    .about-text {
        font-size: 0.65em;
    }

    .sub-title {
        font-size: 0.85em;
    }

}

/* For small tablet design */
@media only screen and (max-width: 1000px) and (min-width: 700px) {

    .about-image {
        width: 100px;
        height: 100px;
        border: 2px solid #eee;
    }

    .about-text {
        font-size: 0.45em;
    }

}


 /* For Mobile Design */
@media only screen and (max-width: 700px) {
    .about-wrap {
        display: block;
        width: 100%;
        text-align: center;
    }

    .image-container {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 1em;
    }

    .about-box {
        padding: 1.5em;
        text-align: justify;
    }

    .about-text {
        width: 75%;
    }

    .about-image {
        background-image: url("../../resources/assets/Images/shane_creedon_casual.png");
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        float: none;
    }
}