/* Background video + background video elements below */
#video-background {
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -1;
}

.overlay {
    position: fixed;
    min-width: 100%; 
    min-height: 100%;
    background-color: black;
    width: auto; 
    height: auto;
    right: 0; 
    bottom: 0;
    opacity: 0.75;
    z-index: 1;
}

.video-text-content {
    position: relative;
    text-align: center;
    color: #f1f1f1;
    width: 100%;
    padding: 1em 1em;
    z-index: 2;
    height: 100%;
}

.main-text h2 {
    line-height: 2em;
    font-size: 2em;
    padding-top: 2em;
}

.main-text h5 {
    font-size: 1.4em;
}

/* Download Button  */
.wrap {
    padding-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 200px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #4499CC;
    box-shadow: 0px 5px 10px rgba(165, 184, 255, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }


/* Block Quote */
.quote-container {
    margin: 0 auto;
    padding-top: 4em;
    max-width: 700px;
}

blockquote {
    font-size: 0.9rem;
    position: relative;
    text-align: justify;
    padding: 0 0 2em 38px;
    border: none;
    margin: 20px auto 20px;
    display: block;
}

blockquote:after {
    content: "";
    display: block;
    width: 0.25em;
    height: 90%;
    position: absolute;
    color: #4499CC;
    opacity: 0.5;

    left: 0;
    top: 0;
    background: -moz-linear-gradient(top,#4499CC 0%,#4499CC 60%,rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top,#4499CC 0%,#4499CC 60%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,#4499CC 0%,#4499CC 60%,rgba(255,255,255,0) 100%);
}

blockquote:before {
    content:"\f10d";
    font-family: "fontawesome";
    font-size: 0.85em;
    display: block;
    margin-bottom: 0.8em;
    font-weight: 400;
    color: #4499CC;
    opacity: 0.7;
}

blockquote > cite, blockquote > p > cite {
    display: block;
    font-size: 0.8em;
    line-height: 1.3em;
    font-weight: 700;
    font-style: normal;
    margin-top: 1.1em;
    letter-spacing: 0;
    font-style:italic;
}

/* Media Queries for Responsive Design */

/* For large tablet design */
@media only screen and (max-width: 1300px) {

    .main-text h2 {
        line-height: 2em;
        font-size: 1.4em;
        padding-top: 1em;
    }

    .main-text h5 {
        font-size: 1em;
    }

}

/* If the browser window is 600px or smaller, the background color will be lightblue: */
@media only screen and (max-width: 1000px) {

    .main-text h2 {
        line-height: 2em;
        font-size: 1em;
        padding-top: 1em;
    }

    .main-text h5 {
        font-size: 0.6em;
    }

    .button {
        width: 100px;
        height: 30px;
        font-size: 0.45em;
    }
    
    .wrap {
        padding-top: 1em;
    }

    .quote-container {
        padding-top: 2em;
    }

    blockquote {
        font-size: 0.55rem;
    }

    .nav-bar {
        height: 3em;
    }

    .nav-table {
        padding: 0;
        width: 100%;
        margin: 0 auto;
        padding: 1em 0em 0em 1em;
        text-align: center;
    }

    .nav-item a {
        font-size: 0.7em;
    }

}

@media only screen and (max-width: 600px) {

    .nav-bar {
        height: 1.5em;
    }

    .nav-item a {
        font-size: 0.35em;
    }

    .nav-table {
        padding-top: 0.55em;
    }

}
