<!-- Django specific Code for CSS and Other Resources -->
{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{% static 'application/stylesheets/common/navbar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'application/stylesheets/research/top-research.css' %}">
        <title> Human Activity Recognition PPG Software </title>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <!-- Navigation menu -->
        <div class="nav-bar">
            <ul class="nav-table">
                <li class="nav-item"> <a href="/"> Home </li> </a>
                <li class="nav-item"> <a href="/research"> Research </li></a>
                <li class="nav-item"> <a href="/blog"> Blog </li></a>
                <li class="nav-item"> <a href="/discussion"> Discussion </li></a>
            </ul>
        </div>

        <!-- Research Body -->
        <div class="grid-container">
            <div class="grid-item top-left-container"> 
                <span> Symbolic Aggregate Approximation (SAX) </span> 
                <div class="grid-item-content">            
                     <p> 
                        SAX is the first symbolic representation for time series that allows for dimensionality reduction and
                        indexing with a lower-bounding distance measure. In classic data mining tasks such as clustering, 
                        classification, index, etc., SAX is as good as well-known representations such as Discrete Wavelet Transform (DWT)
                        and Discrete Fourier Transform (DFT), while requiring less storage space. In addition, the representation allows
                        researchers to avail of the wealth of data structures and algorithms in bioinformatics or text mining, and also
                        provides solutions to many challenges associated with current data mining tasks. 
                        <a href="http://www.cs.ucr.edu/~eamonn/SAX.htm"> http://www.cs.ucr.edu/~eamonn/SAX.htm </a>
                    </p>
                </div>
            </div>
            <div class="grid-item top-right-container"> 
                <span> Time-Series Bitmap Generation </span> 
                <div class="grid-item-content">
                    <p> 
                        SAX is the first symbolic representation for time series that allows for dimensionality reduction and
                        indexing with a lower-bounding distance measure. In classic data mining tasks such as clustering, 
                        classification, index, etc., SAX is as good as well-known representations such as Discrete Wavelet Transform (DWT)
                        and Discrete Fourier Transform (DFT), while requiring less storage space. In addition, the representation allows
                        researchers to avail of the wealth of data structures and algorithms in bioinformatics or text mining, and also
                        provides solutions to many challenges associated with current data mining tasks.          
                        <a href="https://automatetheboringstuff.com/chapter17/"> https://automatetheboringstuff.com/chapter17/</a>
                    </p>
                </div>
            </div>
            <div class="grid-item bottom-left-container"> 
                <span> Convolutional Neural Networks & Transfer Learning </span> 
                <div class="grid-item-content">
                    <p> 
                        SAX is the first symbolic representation for time series that allows for dimensionality reduction and
                        indexing with a lower-bounding distance measure. In classic data mining tasks such as clustering, 
                        classification, index, etc., SAX is as good as well-known representations such as Discrete Wavelet Transform (DWT)
                        and Discrete Fourier Transform (DFT), while requiring less storage space. In addition, the representation allows
                        researchers to avail of the wealth of data structures and algorithms in bioinformatics or text mining, and also
                        provides solutions to many challenges associated with current data mining tasks.
                        <a href="https://cloud.google.com/tpu/docs/tutorials/inception"> https://cloud.google.com/tpu/docs/tutorials/inception </a>
                    </p>
                </div>
            </div>
            <div class="grid-item bottom-right-container">
                <span>  Message Queueing Telemetry Transport Protocol (MQTT)   </span> 
                <div class="grid-item-content">
                    <p> 
                        SAX is the first symbolic representation for time series that allows for dimensionality reduction and
                        indexing with a lower-bounding distance measure. In classic data mining tasks such as clustering, 
                        classification, index, etc., SAX is as good as well-known representations such as Discrete Wavelet Transform (DWT)
                        and Discrete Fourier Transform (DFT), while requiring less storage space. In addition, the representation allows
                        researchers to avail of the wealth of data structures and algorithms in bioinformatics or text mining, and also
                        provides solutions to many challenges associated with current data mining tasks.          
                        <a href="http://mqtt.org/"> http://mqtt.org/ </a>
                    </p>
                </div>
            </div>
        </div>
        <!-- Footer  -->
        
        <script src="" async defer></script>
    </body>
</html>