/* Import Fonts */
@font-face {
    font-family: "Raleway";
    src:url("../../resources/fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: "IndieFlower";
    src:url("../../resources/fonts/IndieFlower.ttf");
}

@font-face {
    font-family: "Rajdhani";
    src:url("../../resources/fonts/Rajdhani-Medium.ttf");
}

/* General styling */

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    /* Incase video doesn't load, put background colour. */
    background: white;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

/* Nav-Bar styling below */
.nav-bar {
    background: rgba(0, 0, 0, 0.40);
    height: 4em;
}

.nav-table {
    list-style-type: none;
    text-align: right;
    padding-top: 1.5em;

    margin: 0;
    z-index: 1;
    width: 97.5%;
    text-decoration: none;
    position: relative;
    z-index: 3;
}

.nav-item {
    display: inline; 
}

.nav-item a {
    text-decoration: none;
    margin-right: 4em;
    color: white;
    font-family: "Raleway", "Arial";
    font-size: 0.9em;

    text-shadow: horizontal-offset vertical-offset blur color;
    text-shadow: 8px 8px 6px rgba(0, 0, 0, 0.3);
}

.nav-item a:hover {
    color: rgb(0, 157, 255);
    cursor: pointer;
    transition: all 0.5s ease 0s;
    text-decoration: none;
}