/**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/
 * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



a {
    color: #03658c;
    text-decoration: none;
}

ul {
   list-style-type: none;
}

body {
   /* font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana; */
   font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
   background: white;
   overflow-y: scroll;    
   height: 100%;
   width: 100%;
   background-color: rgb(0, 0, 0, 0.8);
}

/** ====================
* List of Comments
=======================*/
.comments-container {
   /* margin: 60px auto 15px; */
   width: 1080px;
   margin: 2em auto;
}

.comments-container h1 {
   font-size: 36px;
   color: #283035;
   font-weight: 400;
}

.comments-container h1 a {
   font-size: 18px;
   font-weight: 700;
}

.comments-list {
   margin-top: 30px;
   position: relative;
}

/**
* Lineas / Detalles
-----------------------*/
.comments-list:before {
   content: '';
   width: 2px;
   height: 100%;
   background: #c7cacb;
   position: absolute;
   left: 32px;
   top: 0;
}



.comments-list li {
   margin-bottom: 15px;
   display: block;
   position: relative;
}

.comments-list li:after {
   content: '';
   display: block;
   clear: both;
   height: 0;
   width: 0;
}

/**
* Avatar
---------------------------*/
.comments-list .comment-avatar {
   width: 65px;
   height: 65px;
   position: relative;
   z-index: 99;
   float: left;
   border: 3px solid #FFF;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   overflow: hidden;
}

.comments-list .comment-avatar img {
   width: 100%;
   height: 100%;
}

.comment-main-level:after {
   content: '';
   width: 0;
   height: 0;
   display: block;
   clear: both;
}
/**
* Caja del Comentario
---------------------------*/
.comments-list .comment-box {
   width: 980px;
   float: right;
   position: relative;
   -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
   -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
   box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
   content: '';
   height: 0;
   width: 0;
   position: absolute;
   display: block;
   border-width: 10px 12px 10px 0;
   border-style: solid;
   border-color: transparent #FCFCFC;
   top: 8px;
   left: -11px;
}

.comments-list .comment-box:before {
   border-width: 11px 13px 11px 0;
   border-color: transparent rgba(0,0,0,0.05);
   left: -12px;
}

.comment-box .comment-head {
   background: #FCFCFC;
   padding: 10px 12px;
   border-bottom: 1px solid #E5E5E5;
   overflow: hidden;
   -webkit-border-radius: 4px 4px 0 0;
   -moz-border-radius: 4px 4px 0 0;
   border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
   float: right;
   margin-left: 14px;
   position: relative;
   top: 2px;
   color: #A6A6A6;
   cursor: pointer;
   -webkit-transition: color 0.3s ease;
   -o-transition: color 0.3s ease;
   transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
   color: #03658c;
}

.comment-box .comment-name {
   color: #283035;
   font-size: 14px;
   font-weight: 700;
   float: left;
   margin-right: 10px;
}

.comment-box .comment-name a {
   color: #283035;
}

.comment-box .comment-head span {
   float: left;
   color: #999;
   font-size: 13px;
   position: relative;
   top: 1px;
}

.comment-box .comment-content {
   background: #FFF;
   padding: 12px;
   font-size: 15px;
   color: #595959;
   -webkit-border-radius: 0 0 4px 4px;
   -moz-border-radius: 0 0 4px 4px;
   border-radius: 0 0 4px 4px;
}


/** =====================
* Responsive
========================*/
@media only screen and (max-width: 766px) {
   .comments-container {
       width: 480px;
   }

   .comments-list .comment-box {
       width: 390px;
   }
}