/* Import Fonts */
@font-face {
    font-family: "Raleway";
    src:url("../resources/fonts/Raleway-Regular.ttf");
}

/* CSS code */
* {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    background-color: whitesmoke;
}

.left-container {
    background-color: rebeccapurple;
    width: 49.5%;
    float: left;
}

.right-container {
    background-color: aqua;
    width: 49.5%;
    float: right;
}
