/* Import Fonts */
@font-face {
    font-family: "Raleway";
    src:url("../resources/fonts/Raleway-Regular.ttf");
}

/* CSS code */
* {
    width: 100%;
    height: 100%;
    margin: 0;
}

.main-image-section {
    background: URL("../resources/images/sun-run.jpg") no-repeat fixed center;
    height: 75%;
}

.main-text {
    display: table;
    text-align: center;
}

.main-image-title {
    position: relative;
    bottom: 1em;

    vertical-align: middle;
    display: table-cell;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 2.5em;

    text-shadow: horizontal-offset vertical-offset blur color;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.sub-title {
    line-height: 3em;
    font-size:0.8em;
    font-family: monospace, sans-serif;
}

.download-section {
    display: flex;
    flex-direction: row;
    height: 22.5%;
}

.container {
    width: 100%;
    margin-top: 3em;
}
.button {
    display: table;
    border: 1px solid #aaa;
    width: 20%;
    height: 50%;
    margin: 0 auto;

    background-color: brown;
}

.button p {
    text-align: center;
    vertical-align: middle;
    display: table-cell;

    font-family: Raleway, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: whitesmoke;

    text-shadow: horizontal-offset vertical-offset blur color;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.3);
}

.button:hover {
    background-color: maroon;
    cursor: pointer;
}